:root{
    --primary-color: beige;
    --secondary-color: #3b39a0;
    --navbar-color: #00204a;
    --btn-color: #fce38a;
    --font-family-main: 'Poppins', sans-serif;
    --font-family-secondary: 'Playfair Display', serif;
}

.navbar-my{
    background-color: var(--navbar-color);
}

body{
    background-color: #272343; 
}

h1{
    font-family: var(--font-family-secondary);
    color: #F9F7FE;
}

p{
    color: #fce38a;
}

.gelb,
.content-container .gelb{
    color: #fce38a;
}

 h2, h3, h4 {
    font-family: var(--font-family-main);
    color: var(--primary-color) ;
}

h3{
    font-family: var(--font-family-secondary);
    font-size: 48px;
    font-weight: bold;
}

.hero{
    background-image: linear-gradient(rgba(52, 20, 112, 0.2), rgba(35, 116, 75, 0.2)), 
       url("../images/header-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.hero p{
    font-family: var(--font-family-main);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
}
.hero h1{
    font-weight: bold;
    font-size: 96px;
}

.hero h2{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
    margin-bottom: 50px;
}

.btn-main{
    margin: 10px;
    background-color: var(--secondary-color);
    color: var(--btn-color);
    border-radius: 20px;
    padding: 18px 30px;
    font-family: var(--font-family-main);
    font-size: 18px;
    transition: all 100ms ease-in-out;
 }

.btn-main:hover {
    color:  var(--secondary-color);
    background-color: var(--primary-color);
}

.btn-detail {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 18px;
    font-family: var(--font-family-main);
    font-size: 18px;
    border: 2px solid var(--primary-color);
    transition: all 100ms ease-in-out;
 }

.btn-detail:hover {
    color:  var(--secondary-color);
    background-color: beige;
}

.content p{
    font-size: 18px;
    color: var(--primary-color);
}

.content h2{
    font-family: var(--font-family-secondary);
    font-size: 64px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 55px;
    margin-top: 20px;
}

p.text{
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    margin-bottom: 20px;
    color: #F9F7FE;
}

.content-container{
    padding: 60px 20px;
}

.about-content{
    margin: 30px;
}

.content-container h1{
    font-size: 64px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 40px;
}

.content-container h2{
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 30px;
}

.content-container p{
    font-size: 20px;
    color: var(--primary-color);
    opacity: 0.7;
}

.content-container h3{
    font-weight: bold;
    font-size: 24px;
 }

.contact-content{
    text-align: center;
}

.logo{
    max-height: 42px;
 }

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
 }

nav a{
    text-decoration: none;
    color: var(--primary-color);
    transition: all 100ms ease-in-out;
}

nav a:hover,
.active a {
    color:  var(--secondary-color);
}

.btn-main .work{
    text-align: center;
    color: red;
}

.menu{
   padding: 20px 0;
}

.contact-box{
    background-color: var(--navbar-color);
    padding: 8px 100px;
    border-radius: 10px;
}

.contact-box p{
    margin: 0;
}

footer .email-link{
    font-size: 24px;
    font-family: var(--font-family-main);
    color: blueviolet;
    text-decoration: none;
}

footer .email-link:hover{
    color: var(--secondary-color);
}

footer .social-links a{
    margin: 0 20px;
    color: var(--secondary-color);
    font-size: 18px;
    background-color: #F9F7FE;
    padding: 12px 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
    color:beige;
    background-color: var(--secondary-color);
}

.main-image{
    max-width: 400px;
    border-radius: 10px;
 }

.projects-foto{
    max-width: 600px;
    border-radius: 20px;
}

.move-text{
  padding-left: 100px;

}
.icons{
    font-size: 25px;
    text-decoration: none;
}

.skills{
    padding-top: 50px;
    font-size: 70px;
}

@media (max-width:900px) {
   
    .hero h1 {
        font-size: 44px;
    }

    .content-container h1{
        font-size: 40px;
        line-height: 1.5;
        margin-top: 10px;
        margin-bottom: 10px;
     }

     .content-container h2{
        font-size: 20px;
        line-height: 1.5;
        margin-top: 10px;
        margin-bottom: 10px;
     }

     .content-container p{
        font-size: 15px;
     }

    h2{
        font-size: 24px;
        margin: auto;
        line-height: 1.5;
        text-align: center;
    }
        
    p.text{
        margin: 20px 10px;
        text-align: center;
    }

    .btn-detail{
      display: block;
    }

    .content-container{
        text-align: center;
        padding: 0;
        margin-top: 60px;
    }

    .image-small{
        max-width: 200px;
        max-height: 40px;
        margin-bottom: 20px;
    }

    .projects{
        max-width: 400px;
    }

    .projects-foto{
        max-width: 350px;
    }

    .btn-main{
        padding: 10px 10px;
    }

    .move-text{
        padding-left: 0;
    }

    .main-image{
        max-width: 300px;
    }
}